:root {
    --nav: #03045E;
    --button-color: #0096c7;
    --vm-background: #0077b6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    height: 100vh;
    background-image: url(images/doc-bg.jpg);
    background-size: cover;
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 100px;
    background-color: var(--nav);
    height: 10%;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 15px;
    text-decoration: none;
    color: white;
    /* background-color: var(--nav); */
}

.nav-bar ul a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header button {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: var(--button-color);
}

#about {
    height: 100vh;
}

.hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

.hero-txt {
    /* border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

.hero-txt h1 {
    display: flex;
    justify-content: center;
}

.vision-mission {
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: var(--vm-background);
    color: white;
    gap: 20px;
}

.vision {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    /* align-items: left; */
}

.mission {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    /* align-items: left; */
}

/*.mission {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 50px;
    background-color: #03045E;  
}

.vision h2, .mission h2 {
    font-size: 30px;
    border-bottom: 2px solid #03045E;
    margin-bottom: 20px;
}

.vision h2 p {
    width: 50%;
    gap: 10px;
} */

.login-form form {
    display: flex;
    flex-direction: column;
}

#services {
    height: 100vh;
}